/* BASE */
html {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-image: radial-gradient(#ece0ec 10%, transparent 0);
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

nav {
  margin-bottom: 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  // padding: 0.5rem;
  border-radius: $border-radius;
}

nav ul li {
  padding: 0.2rem;
  border-bottom: 3px solid #754575;
  margin-bottom: 0;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 85vw;
  align-self: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  background: #fefefe;
  box-shadow: inset 6px 6px 9px #f1f1f1, inset -6px -6px 9px #ffffff;
  margin-bottom: 2rem;
}

article {
  margin-bottom: 0.5rem;
}

span {}

blockquote {}

img {}
/* LAYOUT */
.googleChartDing {
background-color: grey;
}

rect {
  fill: lightgrey;
}

g {
  fill-opacity: 1;
}

button, input[type=button] {
  padding: 0.3rem;
  margin: 0.1rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 2px rgba(0,0,0,1);
}

.finance {
  display: flex;
  justify-content: center;
  align-content: center;
}

.finance h2, .finance h4 {
  text-align: center;
}

.finance h4 {
// margin-top: 1rem;
font-variant: small-caps;
font-weight: lighter;
}

.finance p {

}

.backToTop {
  align-self: center;
  text-align: center;
}
// color palettes

.color-palettes, .patterns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.color-palettes h2 {
  width: 100%;
}

.color-palettes article {
  // min-width: 50vw;
  // max-width: 100%;
}

.color-palettes article .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.color-palettes article,
.patterns article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: calc((#{$baseline} - #{$h3}) + #{$baseline}/2);
  width: 380px;
  padding: 0.5rem;
}

.color-palettes article h3 {
  width: 100%;
  text-align: center;
}

// patterns
.patterns {
}

.patterns h2 {
  width: 100%;
}

.patterns article h3 {
  width: 100%;
  text-align: center;
}

.patterns__dotted-background {
}

.patterns__plaid-background {
}

.patterns__grid-background {
}

/* SIZING */
.color-palettes .container div {
  min-height: 2.4rem;
  min-width: 2.4rem;
  // width: 3.5rem;
  // height: 3.5rem;
}

.patterns div {
  height: 7rem;
  width: 7rem;
}

.woordenwolk {
  max-width: 100%;
  max-height: 100%;
}

/* STATE */
/* THEME */



// nieuw


#question_1 {
  margin-top: 1.5rem;
}

.choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50vw;
}
.choices button:active {
background-color: white;
color: black;
}

input[type=button] {
  align-self: center;
  font-size: $h4;
  padding: 0.8rem 2rem;
  margin: 0.2rem;
}

.choices .idgafChoice {
  width: 100%;
  font-size: $p;
  padding: 0.2rem 0.6rem;
  margin-left: 10%;
  margin-right: 10%;
}

#nikeStats1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#nikeStats1 .nikeHeader, .nikeIntro {
  width: 100%;
  text-align: center;
}


#nikeStats1 article {
  max-width: 45%;
  padding: 0.1rem;
  margin-left: 0.3rem;
}

#nikeStats1 article h3 {
  line-height: 1.3;
}

#nikeStats1 article button {
  font-weight:bold;
  font-style: italic;
}


section {
visibility: hidden;
  // position: absolute;
}

#question_1 {
  visibility: visible;
  z-index: 5;
}
.selected {
  background-color: white;
  color: black;
  box-shadow: inset 3px 3px 2px 2px rgba(0,0,0,1);
}

.active {
  visibility: visible;
  // opacity: 1;
  z-index: 5;
}
