/* BASE */
html {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-image: radial-gradient(#ece0ec 10%, transparent 0);
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

nav {
  margin-bottom: 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: $border-radius;
}

nav ul li {
  padding: 0.2rem;
  border-bottom: 3px solid #754575;
  margin-bottom: 0;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

main {
  align-self: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  background: #fefefe;
  box-shadow: inset 6px 6px 9px #f1f1f1, inset -6px -6px 9px #ffffff;
  margin-bottom: 2rem;
}

article {
  margin-bottom: 0.5rem;
}

span {}

blockquote {}

img {}

rect {
  fill: lightgrey;
}

g {
  fill-opacity: 1;
}

button,
input[type=button] {
  padding: 0.3rem;
  margin: 0.1rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 2px rgba(0,0,0,1);
}
/* LAYOUT *
/* STATE */
/* THEME */
/* SIZING */
.woordenwolk {
  max-width: 100%;
  max-height: 100%;
}


.choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50vw;
}

.choices button:active {
  background-color: white;
  color: black;
}

input[type=button] {
  align-self: center;
  font-size: $h4;
  padding: 0.8rem 2rem;
  margin: 0.2rem;
}

.choices .idgafChoice {
  width: 100%;
  font-size: $p;
  padding: 0.2rem 0.6rem;
  margin-left: 10%;
  margin-right: 10%;
}

#stats-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#stats-1 div {
  max-width: 40%;
  padding: 0.1rem;
  margin-left: 0.3rem;
}

#stats-1 .nikeHeader,
.nikeIntro {
  width: 100%;
  text-align: center;
}

#stats-1 h3 {
  line-height: 1.3;
}

#stats-1 button {
  font-weight: bold;
  font-style: italic;
}

article {
  // visibility: hidden;
  // position: absolute;
}

.selected {
  background-color: white;
  color: black;
  box-shadow: inset 3px 3px 2px 2px rgba(0,0,0,1);
}
