/* VARIABLES */
$nike-red: rgb(226,20,45);
$adidas-blue: rgb(0,81,186);
$none-yellow: rgb(232,208,30);
$other-green: rgb(42,247,148);
$something-purple: rgb(139,13,217);

$nike-red-hex: #E2142D;
$adidas-blue-hex: #0051ba;
$none-yellow-hex: #E8D01E;
$other-green-hex: #2AF794;
$something-purple-hex: #8B0DD9;

$nike-chart-bg: rgba(226,20,45,0.6);
$adidas-chart-bg: rgba(0,81,186,0.6);
$none-chart-bg: rgba(232,208,30,0.3);
$other-chart-bg: rgba(119,136,153,0.3);

$nike-chart-bc: rgba(226,20,45,1);
$adidas-chart-bc: rgba(0,81,186,1);
$none-chart-bc: rgba(232,208,30,1);
$other-chart-bc: rgba(119,136,153,1);

$baseline: 1.1rem;

$minScreen: 20rem;
$maxScreen: 50rem;
$minFont: .8rem;
$maxFont: 2rem;

$h1: 1rem;
$h2: 1.3rem;
$h3: 1rem;
$h4: 0.8em;
$h5: .75rem;
$h6: .7rem;
$p: 0.6rem;
$brandHeader: 2rem;

$border-radius: 5px;
