/* VARIABLES */
$nike-red: rgb(226,20,45);
$adidas-blue: rgb(55,23,119);

$baseline: 1.2rem;

$minScreen: 20rem;
$maxScreen: 50rem;
$minFont: .8rem;
$maxFont: 2rem;

$h1: 1rem;
$h2: 1.3rem;
$h3: 1rem;
$h4: 0.8em;
$h5: .75rem;
$h6: .7rem;
$p: 0.6rem;
$brandHeader: 2rem;

$border-radius: 5px;
